name: Build Haddocks
on:
  # Trigger the workflow on every 1 week
  schedule:
    # Scheduled 30 min after build
    - cron: '46 8 * * 2'
  # Or trigger manually
  workflow_dispatch:

env:
  ghc-version: 9.12.2

jobs:
  build-docs:
    name: "Build docs"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout publish root
        uses: actions/checkout@v4
        with:
          ref:  master
          path: site-root
      
      - name: Get latest workflow run
        id: get_run
        run: |
          RUN_ID=$(gh api repos/viercc/Build-haddock/actions/workflows/haddock.yaml/runs \
            --jq '.workflow_runs[0].id')
          echo "run-id=$RUN_ID" >> $GITHUB_OUTPUT
        env:
          GH_TOKEN: ${{ secrets.PAT_READ_PRIVATE }}

      - name: Retrieve build artifact
        uses: actions/download-artifact@v7
        with:
          name: haddock-all
          run-id: ${{ steps.get_run.outputs.run-id }}
          github-token: ${{ secrets.PAT_READ_PRIVATE }}
          repository: viercc/Build-haddock
            
      - name: Unpack and place artifact
        run: |
          mkdir -p "${RUNNER_TEMP}/haddocks"
          ls "${GITHUB_WORKSPACE}/"
          tar --directory "${RUNNER_TEMP}/haddocks" -xvf "${GITHUB_WORKSPACE}/artifact.tar"
          cp -a "${RUNNER_TEMP}/haddocks/*" site-root/haddocks
      
      - name: Commit Changes
        id: commit_changes
        run: |
          cd site-root
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add haddocks
          git commit -m "haddock generated" && git push || echo "Nothing to commit"

  publish-by-git:
    name: "Publish the generated haddock"
    runs-on: ubuntu-latest
    needs: build-docs

    steps:
      - name: Checkout publish root
        uses: actions/checkout@v4
        with:
          ref: publish
      
      - name: Merge master to publish
        id: merge_master
        run: |
          git fetch origin master:master && git merge --ff-only master && git push || echo Nothing to push
